@import "../components/variables";
@import "../components/mixins";
@import "../components/help-classes";
@import "../components/fonts";
@import "../components/icons";
@import "../components/interface";
@import "../components/base"; 

			//BLOG BEGIN
.blog-posts {
		background: @base-background;
		height: calc(1100/1600*100vw);
		padding-left: 14%;
		padding-right: 14%;
		.text-center ();



		.col-lg-8 {
			width: 80%;
		}
		
		h3 {
			text-transform: uppercase;
			font-family: @subtitle-font;
			font-weight: 800;
			font-size: 16px;
			text-align: left;
			padding-left: calc(15/1600*100vw);
			margin-top: calc(10/1600*100vw);
			line-height: 1;
			
		}
		h3 :hover {
			color: @contrast-color;
		}

		h4 {
			font-family: @base-font;
			font-size: 13px;
			font-style: italic;
			padding-bottom: calc(40/1600*100vw);
			text-align: left;
			padding-left: calc(15/1600*100vw);
			
		}

		p {
			text-align: left;
			line-height: 1.7;
		}

		img {
			max-height: 400px;
			max-width: 490px;
			width: calc(100vw/1600*490px);
			height: calc(100vw/1600*400px);
			padding-bottom: calc(80/1600*100vw);
		}

		a {
			font-family: @base-font;
			font-weight: bold;
			font-size: 13px;
			text-transform: uppercase;
			line-height: 5.5;
			letter-spacing: 0.07em;
		}
}

.post {
		padding-left: calc(25/1600*100vw);
}
.data{
		
		height: calc(77/1600*100vw);
		width: calc(77/1600*100vw);
		margin-left:calc(10/1600*100vw);
		font-family: @title-font;
		font-size: 14px;
		text-transform: uppercase;
		border: solid 1px @base-font-color;
		padding-top: 1em;
}

.data p{
		text-align: center;
		line-height: 1;
}
.data :first-child {
	font-size: 24px;
}


			//BLOG END
