@import "variables";

body {
	background: url('../img/bg-body.jpg');
	//width: 100%;

}

.my-container {
	position: relative;
	max-width: @base-width;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	cursor: default;
	overflow-y: hidden;
	overflow-x: visible;
	scroll-behavior: smooth;

}

.row {
  margin-right: -10px;
  margin-left: -10px;
}

.autopadding {
    padding: 0 14% 0 14%;
}



* > div {
	margin:0px;
	font-family: @base-font;
	font-size: @base-font-size;
	color: @base-font-color;
	line-height: 1.75;
}




h1 {
	margin: 0px;
	padding-top: 95px;
	text-transform: uppercase;
	font-family: @subtitle-font;
	font-size: @h1-desctop-font-size;
	text-align: center;
	font-weight: 800;


}

h2 {
	padding-top: 30px;
	padding-bottom: 65px;
	margin: 0px;
	font-family: @base-font;
	font-size: @h2-desctop-font-size;
	text-align: center;

}

h3 {
	text-decoration: none;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	cursor: pointer;
}

a {

	font-family: @base-font-size;
	font-size: @base-font;
	color: @ref-font-color;
}

a:hover {
	color: @ref-hover-font-color;
}

input { 
	font-size: 12px;
 
}

.form-control {
	height: 45px;
	border-color: @base-font-color;
	border-radius: 2px;
}

.form-control:focus {
	border-color: @contrast-color;
	-webkit-box-shadow: none;
	box-shadow: none;
}

#message {
	height: 105px;

}

::-webkit-input-placeholder { /* WebKit browsers */
	text-transform: uppercase;
	vertical-align: text-top;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	text-transform: uppercase;
	top: 10%;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
	text-transform: uppercase;
	top: 10%;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
	text-transform: uppercase;
	top: 10%;
}
::placeholder { /* Recent browsers */
	text-transform: uppercase;
	vertical-align: text-top;
}



.bold-row {
	height: calc(26/1600*100vw);
	width: calc(50/1600*100vw);
	border-bottom: solid @base-font-color calc(2/1600*100vw);
	margin: auto;
}

.button-style {
	background: none;
	border: solid 2px #fff;
	border-radius: 2px;
	padding: calc(15/1600*100vw) calc(32/1600*100vw) calc(10/1600*100vw) calc(32/1600*100vw);
	font-family: @subtitle-font;
	font-size: 16px;
}

.button-style:hover, :focus {
	background: @base-background;
	color: @base-font-color;
	transition: 0.5s;
}
// .button-style:focus{
// color: white;
// 	background: none;
// }

.arrow-right, .arrow-left {
	position: absolute;
	top: 33%;
	background: #8d8d8d;
	opacity: 0.75;
	z-index: 15;


	img {
		height: calc(40/1600*100vw);
		min-height: 25px;
		width: calc(35/1600*100vw);
		min-width: 20px;
		opacity: 1;
	}
		& :hover {
			background: @button-color;
			opacity: 1;
			transition: 0.3s;
			cursor: pointer;

	}
}
.arrow-right > img :hover, .arrow-left  :hover,
.arrow-right :focus, .arrow-left  :focus {
	background: @button-color;
	opacity: 1;
	transition: 0.3s;
	cursor: pointer;
}

.arrow-right {

	right: 1.25%;
}
.arrow-left {
	left: 1.25%;

}